<div class="page">
  <div class="container">
    <h1 class="title is-3">Dog Info</h1>
    <mat-form-field>
      <mat-label>Choose a breed of dog</mat-label>
      <mat-select [(value)]="selectedValue">
        <mat-option
          class="options"
          *ngFor="let dog of dogsList"
          [value]="dog"
          (click)="showDogInfo()"
        >
          {{ dog }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <app-dogInfo *ngIf="dogInfo" [dogInfo]="selectedValue"></app-dogInfo>
  </div>
</div>
